
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container">
  <h2>Hi {{currentUser.firstName}}! logged in</h2>
  <p>All registered users:</p>      

  <a routerLinkActive="active" 
       routerLink="/add-user">Add User</a> |

    <a routerLinkActive="active" 
       routerLink="/edit-user">Edit User</a> | 

    <a routerLinkActive="active" 
      routerLink="/list-user">List User</a>  |

  <table class="table">
    <thead>
      <tr>
         <th>User Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.username}} </td>
        <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
        <td><a (click)="deleteUser(user.id)" class="text-danger">Delete</a></td>
      </tr>
      
    </tbody>
  </table>
</div>

